---
layout: default
---
<article class="post">
  <header>
    <h1>{{page.title}}</h1>
    <h2>Posted on {{page.date | date_to_string}} | <a href="/">Back to Bitloom home</a></h2>
  </header>
                
  {{content}}
                
  <footer>
    <div style="margin-top: 2em; vertical-align: middle">
      <g:plusone size="medium"></g:plusone><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fmancinelli">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>{% if page.flattr %}<a href="{{page.flattr}}" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" style="display: inline; border: 0; padding: 0px"/></a>{% endif %}
    </div>
    <div style="margin-top: 2em; text-align: right; vertical-align: middle">
      <a href="/">Back to Bitloom home</a>
    </div>
    <a name="comments"/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'bitloom'; // required: replace example with your forum shortname

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      // var disqus_identifier = 'unique_dynamic_id_1234';
      var disqus_url = 'http://blog.fabiomancinelli.org{{page.url}}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </footer>
</article>
